@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  font-size: 1.5rem;
  transition: opacity 0.25s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active:hover {
  opacity: 0.5;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
  transition: opacity 0.25s;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
  transition: opacity 0.25s;
}

.rounded-large {
  border-radius: 0px !important;
}
