@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 0.25s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active:hover {
  opacity: 0.5;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
  transition: all 0.25s;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
  transition: all 0.25s;
}

.rounded-large {
  border-radius: 0px !important;
}
